{% extends "base.html" %}

{% block content %}
<h1>Top Comments (by Likes)</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Author</th>
            <th>Movie</th>
            <th>Likes</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.comment }}</td>
            <td>{{ review.user.username }}</td>
            <td>{{ review.movie.name }}</td>
            <td>{{ review.likes_count }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No comments found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
